/* 详情页 */
#nav ul li{
    float: left;
}
/* 商品详情 */
#detail .center{
    height: 350px;
    border: 1px solid #ccc;
   
}
#detail .box .left{
    width: 350px;
    height: 350px;
    margin: 24px 0 0 24px;
}
#detail .box .right{
    width: 730px;
    height: 350px;
    margin: 24px 24px 0 0;
}
#detail .box .right h2{
    font-size: 24px;
    line-height: 24px;
    color: #666;
    font-weight: normal;
}
#detail .box .right .smBox{
    width: 730px;
    height: 72px;
    background-color: #fff5f5;
    display: flex;
    align-items: center;
  
}
#detail .box .right .smBox .prize{
    font-style: normal;
    font-size: 36px;
    padding-left: 10px;
}
#detail .box .right .smBox p{
    display: inline-block;
    margin-left: 60px;
}
#detail .box .right  .fl{
    float: left;
    width: 70px;
    height: 52px;
    line-height: 70px;
    color: black;
}
#detail .box .right .btn{
    width: 75px;
    height: 50px;
    float: left;
    border: 1px solid #dddddd;
    margin-top: 10px;
  
}
#detail .box .right .btn input{
   
    width: 49px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 0px;
    outline: none;
    font-size: 14px;
    color: #666;
    float: left;
}
#detail .box .right .btn a{
    float: right;

}
#detail .box .right .btn .add{
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #666;
    font-size: 14px;
}
#detail .box .right .btn .minus{
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #666;
    font-size: 14px;
}
.nomoal{
  margin-top: 80px;
  margin-left: -10px;

}
.nomoal span{
    text-align: right;
    color: black;
}
.nomoal .span1{
   display: flex;
   margin-top: 20px;
   text-align: center;
   
}
.nomoal .span1 .prize{
    margin-left: 20px;
    line-height: 20px;
    font-style: normal;
    color: #ff3e3e;
    font-size: 18px;
}
#detail button{
    width: 180px;
    height: 40px;
    background-color: #c40000;
    color: #fff;
    border: none;
}
/* 新品推荐 */
#NewProducts{
    height: 600px;
    border-bottom: 1px solid #37ab40;

}
#NewProducts h1{
    height: 33px;
    line-height: 33px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #ededed;
    font-size: 14px;
    font-weight: normal;
    text-indent: 10px;
}
#NewProducts .left{
    border-top: 2px solid #37ab40;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
#NewProducts ul li{
    text-align: center;
   
}
#NewProducts ul li img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px auto;
}
#NewProducts ul li .prize{
    font-size: 14px;
    color: #da260e;
    margin: 10px auto;
}
#NewProducts ul hr{
    width: 100px;
    height: 1px;
    background-color: #ededed;
    text-align: center;
}
#NewProducts .right{
    width: 980px;
}
#NewProducts .right ul {
    display: flex;
    height: 35px;
    border-bottom: 1px solid #37ab40;
}
#NewProducts .right ul li{
    height: 34px;
    line-height: 34px;
    padding: 0 30px;
    font-size: 14px;
    color: #333333;
    float: left;
    border: 1px solid #e8e8e8;
    border-bottom: 0px;
    cursor: pointer;
    background-color: #faf8f8;
}
#NewProducts .right ul .active{
    border-top: 2px solid #37ab40;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #37ab40;
    border-right: 1px solid #37ab40;
    top: -1px;
    height: 35px;
}