body,h1,h2,h3,h4,h5,h6,p,dl,dd{
    margin: 0;
}
body{
    color: #666666;
    font-family: 'Microsoft Yahei';
    font-size: 12px;
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    border: none;
    vertical-align: middle; 
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
   color: #FF8800;
}
.prize{
    text-align: center;
    font-size: 20px;
    color: #c40000;
    margin-top: 5px;
}
.right{
    float: right;
    line-height: 29px;
}
.left{
    float: left;
    line-height: 29px;
}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
}
.center{
    width: 1200px;
    margin: 0 auto;
}
input{
    outline: none;
}

/* 顶部导航栏样式 */
#headNav{
    background-color: #F7F7F7;
    border-bottom: 1px solid #ccc;
}
.right span{
    color: #cecece;
    margin: 0 10px;
}

/* 搜索 */
#search{
    border-bottom:  2px solid #37AB40;
}
#search .container{
    margin-top: 29px;
    display: flex;
justify-content: space-between;
}
#search .container h1{
    width: 150px;
    height: 59px;
    background-image: url("../image/logo.png");
}
#search .search{
    margin-left: 40px;
    width: 470px;
    height: 34px;
    border: none;
}
#search form{
   display: flex;
   position: relative;
   height: 40px;
   border: 1px solid #37AB40;
}
#search .searchImg{
    width: 20px;
    height: 20px;
    background: url("../image/search.png")no-repeat center;
    background-size: cover;
    position: absolute;
    top: 6px;
    left: 10px;
}
#search .searchbtn{
    width: 100px;
    border: none;
    color: #fff;
   background-color: #37AB40;
}
#search .cart{
    display: flex;
}
#search .cart a{
    display: block;
    width: 160px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #37AB40;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    position: relative;
}
#search .cart a img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 4px;
    top: 8px;
}
#search .cart button{
    font-size: 20px;
    color: #F7F7F7;
    border: none;
    width: 40px;
    height: 42px;
   background-color: #FF8800;
}
/* 商品导航栏 */
#search .navcommodity{
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}
#search .navcommodity h1{
    display: block;
    width: 200px;
    height: 40px;
    background-color: #37AB40;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
   
}
#search .navcommodity ul{
    padding-left: 30px;
    height: 50px;
}
#search .navcommodity ul li{
    float: left;
    
}
#search .navcommodity ul li a{
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: #666666;
}
#search .navcommodity ul li a:hover{
    color: #FF8800;
}
#search .navcommodity ul li span{
    margin: 0 10px;
}
/* bananer */
#bananer .advertising{
    display: flex;
    flex-direction: column;
}
#bananer .center  ul{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
#bananer .center .left li{
    width: 200px;
    border-bottom: 1px solid #eee;
    background: url("../image/icons.png") 178px -260px no-repeat #fff;
}
#bananer .center .left li a{
    display: block;
    height: 44px;
    line-height: 44px;
    text-indent: 71px;
    font-size: 14px;
    color: #333;
    /* border: 1px solid #ccc; */
}
#bananer .center .left li .fruit{
    background: url("../image/icons.png")28px 0 no-repeat;
}
#bananer .center .left li .seafood{
    background: url("../image/icons.png")28px -43px no-repeat;
}
#bananer .center .left li .meet{
    background: url("../image/icons.png")28px -86px no-repeat;
}
#bananer .center .left li .egg{
    background: url("../image/icons.png")28px -132px no-repeat;
}
#bananer .center .left li .vegetables{
    background: url("../image/icons.png")28px -174px no-repeat;
}
#bananer .center .left li .ice{
    background: url("../image/icons.png")28px -220px no-repeat;
}
#bananer .bananerPic{
    width: 760px;
    position: relative;
}
#bananer .bananerPic img{
    position: absolute;
    top: 0;
    left: 0;
}
#bananer .bananerPic a{
    opacity: 0;
}
#bananer .bananerPic .prev{
    width: 17px;
    height: 23px;
    background: url("../image/icons.png") left -388px no-repeat;
    position: absolute;
    left: 11px;
    top: 122px;
    cursor: pointer;
}
#bananer .bananerPic .next{
    width: 17px;
    height: 23px;
    background: url("../image/icons.png") left -428px no-repeat;
    position: absolute;
    left: 732px;
    right: 11px;
    top: 122px;
    cursor: pointer;
}
#bananer .bananerPic .circle{
    width: 100%;
    height: 11px;
    position: absolute;
    left: 0;
    top: 230px;
    text-align: center;
}
 .bananerPic .circle span {
     display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 5px;
    background-color: #9f9f9f;
    border-radius: 50%;
    cursor: pointer;
}
 #bannerPic .circle .active{
    background-color: #ddd;
}
.bananerPic .circle span:hover{
    background-color: #ddd;
}
.active{
     background-color: #ddd;
}
/* 新鲜水果 */
#newfruits {
    /* border-bottom: 2px solid #37AB40; */
    margin-top: 20px;
}
#newfruits .left h2{
    display: inline-block;
    height: 40px;
    font-size: 16px;
    color: #37ab40;
    font-weight: bold;
}
#newfruits .nav{
    border-bottom:  2px solid #37AB40;
}
#newfruits .left span,#newfruits .left a{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}
#newfruits .seasonalfruits{
    display: flex;
    justify-content: space-around;
}
#newfruits .seasonalfruits a{
    width: 249px;
    height: 299px;
    /* 清除border线重叠 */
    /* margin-left: -1px; */
    margin-top:-1px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
#newfruits .seasonalfruits a:hover{
    margin-left: 0px;
    margin-top:0px;
    border: 1px solid #FF8800;
   
}
#newfruits .seasonalfruits a span{
    font-size: 14px;
    color: #666;
    font-weight: normal;
    line-height: 24px;
}
.zuImg{
    width: 180px;
    height: 180px;
}
/* 一样 */
#Seafood {
    height: 380px;
    border-bottom: 2px solid #37AB40;
    margin-top: 20px;
}
#Seafood .left h2{
    display: inline-block;
    height: 40px;
    font-size: 16px;
    color: #37ab40;
    font-weight: bold;
}
#Seafood .nav{
    border-bottom:  2px solid #37AB40;
}
#Seafood .left span,#newfruits .left a{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}
#Seafood .seasonalfruits{
    display: flex;
    justify-content: space-around;
}
#Seafood .seasonalfruits a{
    width: 249px;
    height: 299px;
    /* 清除border线重叠 */
    /* margin-left: -1px; */
    margin-top:-1px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
#Seafood .seasonalfruits a:hover{
    margin-left: 0px;
    margin-top:0px;
    border: 1px solid #FF8800;
   
}
#Seafood .seasonalfruits a span{
    font-size: 14px;
    color: #666;
    font-weight: normal;
    line-height: 24px;
}
/* 底部 */
#footer{
    margin: 30px 0;
}
#footer ul{
   display: flex;
   justify-content: center;
}
#footer ul li{
   display: inline-block;
   text-align: center;  
   margin-bottom: 5px;
}
#footer ul li span{
   margin: 0 10px;
}
#footer .copy{
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
#footer .phone{
    text-align: center;
}